<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">


	<import resource="classpath:applicationContext-base.xml" />

	<!-- 设置文件夹映射 -->
	<mvc:resources mapping="/script/**" location="/script/" />
	<mvc:resources mapping="/image/**" location="/image/" />
	<mvc:resources mapping="/style/**" location="/style/" />
	<mvc:resources mapping="/lib/**" location="/lib/" />
	<mvc:resources mapping="/extjs/**"
		location="classpath:/META-INF/resources/webjars/extjs/4.2.1.883/" />

	<mvc:view-controller path="/" view-name="/login" />
	<mvc:view-controller path="/main" />
	<mvc:view-controller path="/customer" />
	<mvc:view-controller path="/sell" />
	<mvc:view-controller path="/shoe" />
	<mvc:view-controller path="/afterService" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">50</prop>
			</props>
		</property>
		<property name="namingStrategy">
			<bean class="org.hibernate.cfg.ImprovedNamingStrategy" />
		</property>
		<property name="packagesToScan">
			<list>
				<value>edu.graduate.shoe.manage.domain.entity</value>
			</list>
		</property>
	</bean>

</beans>