<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean name="/login" class="com.swust.teach.actions.LoginAction" scope="prototype">
		<property name="loginManager" ref="loginManager" />
	</bean>
	
	<bean name="/regthr" class="com.swust.teach.actions.ThrAction" scope="prototype">
		<property name="thrregManager" ref="thrregManager" />
	</bean>
	
	<bean name="/regprt" class="com.swust.teach.actions.PrtregAction" scope="prototype">
		<property name="prtregManager" ref="prtregManager" />
	</bean>
	
	<bean name="/addstu" class="com.swust.teach.actions.StuaddAction" scope="prototype">
		<property name="stuaddManager" ref="stuaddManager" />
	</bean>
	
	<bean name="/mylist" class="com.swust.teach.actions.MylistAction" scope="prototype">
		<property name="mylistManager" ref="mylistManager" />
	</bean>
	
	<bean name="/mgr" class="com.swust.teach.actions.ManagerAction" scope="prototype">
		<property name="mgrManager" ref="mgrManager" />
	</bean>
</beans>
